<!-- myapp/templates/index.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      /* Custom CSS for Kanban Board */

      .kanban-column {
        min-width: 300px;
        max-width: 400px;
        background-color: #f4f5f7;
        border-radius: 0.5rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
        margin-right: 1rem;
        justify-self: start;
        /* Align column to the left */
      }

      .kanban-column:last-child {
        margin-right: 0;
      }

      .kanban-column h2 {
        color: #4a5568;
        margin-bottom: 1rem;
        font-size: 1.2rem;
      }

      .kanban-cards {
        min-height: 100px;
      }

      .card {
        margin-bottom: 10px;
        padding: 10px;
        background-color: #fff;
        border-radius: 0.5rem;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        transition: box-shadow 0.3s ease-in-out;
        cursor: pointer;
      }

      .card:hover {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      }

      .add-card {
        cursor: pointer;
        display: inline-block;
        padding: 0.5rem 1rem;
        border-radius: 0.375rem;
        background-color: #4b7bec;
        color: #fff;
        transition: background-color 0.3s;
      }

      .add-card:hover {
        background-color: #3867d6;
      }

      .ui-sortable-helper {
        background-color: #e2e8f0;
        border: 2px dashed #4a5568;
        border-radius: 0.5rem;
      }
    </style>
    <title>Dashboard | Task Hub</title>
  </head>
  <body>
    <!-- component -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap"
      rel="stylesheet"
    />

    <div>
      {% for message in messages %}

      <div
        class="flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-md text-red-700 bg-red-100 border border-red-300"
      >
        <div slot="avatar">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="100%"
            height="100%"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-alert-octagon w-5 h-5 mx-2"
          >
            <polygon
              points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"
            ></polygon>
            <line x1="12" y1="8" x2="12" y2="12"></line>
            <line x1="12" y1="16" x2="12.01" y2="16"></line>
          </svg>
        </div>
        <div class="text-xl font-normal max-w-full flex-initial">
          {{ message }}
        </div>
        <div class="flex flex-auto flex-row-reverse">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="100%"
              height="100%"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-x cursor-pointer hover:text-red-400 rounded-full w-5 h-5 ml-2"
            >
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </div>
        </div>
      </div>

      {% endfor %} {% if error_message %}

      <div
        class="flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-md text-red-700 bg-red-100 border border-red-300"
      >
        <div slot="avatar">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="100%"
            height="100%"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-alert-octagon w-5 h-5 mx-2"
          >
            <polygon
              points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"
            ></polygon>
            <line x1="12" y1="8" x2="12" y2="12"></line>
            <line x1="12" y1="16" x2="12.01" y2="16"></line>
          </svg>
        </div>
        <div class="text-xl font-normal max-w-full flex-initial">
          {{ error_message }}
        </div>
        <div class="flex flex-auto flex-row-reverse">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="100%"
              height="100%"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-x cursor-pointer hover:text-red-400 rounded-full w-5 h-5 ml-2"
            >
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </div>
        </div>
      </div>

      {% endif %} {% if success_message %}

      <div
        class="flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-md text-red-700 bg-red-100 border border-red-300"
      >
        <div slot="avatar">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="100%"
            height="100%"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-alert-octagon w-5 h-5 mx-2"
          >
            <polygon
              points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"
            ></polygon>
            <line x1="12" y1="8" x2="12" y2="12"></line>
            <line x1="12" y1="16" x2="12.01" y2="16"></line>
          </svg>
        </div>
        <div class="text-xl font-normal max-w-full flex-initial">
          {{ success_message }}
        </div>
        <div class="flex flex-auto flex-row-reverse">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="100%"
              height="100%"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-x cursor-pointer hover:text-red-400 rounded-full w-5 h-5 ml-2"
            >
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </div>
        </div>
      </div>

      {% endif %}
    </div>
    <main class="bg-gray-100 font-montserrat">
      <header class="h-24 sm:h-32 flex items-center">
        <div
          class="container mx-auto px-6 sm:px-12 flex items-center justify-between"
        >
          <a
            href="/"
            class="font-black text-blue-900 text-2xl flex items-start"
          >
            Taskhub<span class="w-3 h-3 rounded-full bg-indigo-600 ml-2"></span>
          </a>
          <div class="flex items-center">
            <nav class="text-indigo-900 text-lg hidden lg:flex items-center">
              <a href="/" class="py-2 px-8 flex hover:text-indigo-700">
                Home
              </a>
              <a href="/dashboard" class="py-2 px-8 flex hover:text-indigo-700">
                Dashboard
              </a>
              <a href="/about" class="py-2 px-8 flex hover:text-indigo-700">
                About Us
              </a>

              <a href="/contact" class="py-2 px-8 flex hover:text-indigo-700">
                Contact Us
              </a>

              {% if user_data %} Hey!, {{user_data.username }}

              <form id="logoutForm" action="/logout" method="post">
                <button
                  class="py-2 px-8 bg-red-600 ml-2 text-white rounded-full flex hover:text-indigo-700"
                >
                  Logout
                </button>
              </form>

              {% endif %} {% if not user_data %}
              <a href="/login" class="py-2 px-8 flex hover:text-indigo-700">
                Login
              </a>
              <a href="/signup" class="py-2 px-8 flex hover:text-indigo-700">
                Sign Up
              </a>
              {% endif %}
            </nav>
            <!-- <button class="flex flex-col ml-4">
              <span class="w-6 h-1 rounded-full bg-indigo-800 mb-1"></span>
              <span class="w-6 h-1 rounded-full bg-indigo-800 mb-1"></span>
              <span class="w-6 h-1 rounded-full bg-indigo-800 mb-1"></span>
            </button> -->
          </div>
        </div>
      </header>

      <h1 class="text-3xl">Project</h1>
      <!-- component -->
      <div
        class="flex flex-col justify-center relative overflow-hidden pt-5 pb-5"
      >
        <div class="max-w-7xl mx-auto">
          <div class="relative group">
            <div
              class="absolute -inset-1 bg-gradient-to-r from-purple-600 to-pink-600 rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200"
            ></div>
            <div
              class="relative px-7 py-6 bg-white ring-1 ring-gray-900/5 rounded-lg leading-none flex items-top justify-start space-x-6"
            >
              {% if project %}
              <div class="space-y-2">
                <p class="text-slate-800">
                  Project Title: {{project.projecttitle}}
                </p>
                <p class="text-slate-800">
                  Project Description: {{project.projectdescription}}
                </p>

                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <h1 class="text-3xl">Project Task</h1>

      <!-- Kanban board section -->
      <div class="container mx-auto py-12 px-6 sm:px-12">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
          <div class="kanban-column">
            <h2 class="text-lg font-bold">To Do</h2>
            <div class="kanban-cards">
              <div class="card">Task 1</div>
              <div class="card">Task 2</div>
            </div>
            <form action="/addTodoTask" method="post">
              <button type="submit" class="add-card mt-4">Add Card</button>
            </form>
          </div>

          <div class="kanban-column">
            <h2 class="text-lg font-bold">In Progress</h2>
            <div class="kanban-cards"></div>
            <form action="/addProgressTask" method="post">
              <button type="submit" class="add-card mt-4">Add Card</button>
            </form>
          </div>

          <div class="kanban-column">
            <h2 class="text-lg font-bold">Done</h2>
            <div class="kanban-cards"></div>
            <form action="/addCompletedTask" method="post">
              <button type="submit" class="add-card mt-4">Add Card</button>
            </form>
          </div>
        </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
      <script>
        $(document).ready(function () {
          $(".kanban-cards")
            .sortable({
              connectWith: ".kanban-cards",
              placeholder: "placeholder",
              revert: 200,
              start: function (e, ui) {
                ui.placeholder.height(ui.item.outerHeight());
              },
              receive: function (event, ui) {
                ui.item.css("transform", "none");
              },
            })
            .disableSelection();

          $(".add-card").click(function () {
            var content = prompt("Enter task content:");
            if (content) {
              var card = $('<div class="card">' + content + "</div>");
              var column = $(this).closest(".kanban-column");
              column.find(".kanban-cards").append(card);

              // AJAX request to add task to the backend
              $.ajax({
                url: column.find("form").attr("action"), // Get form action URL
                method: "POST",
                data: { projectid: projectid }, // Send task content as data
                success: function (response) {
                  // Handle success response (if needed)
                  console.log("Task added successfully!");
                },
                error: function (error) {
                  // Handle error response (if needed)
                  console.error("Error adding task:", error);
                },
              });
            }
          });
        });
      </script>
    </main>
  </body>
</html>
