<!-- myapp/templates/index.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dashboard | Task Hub</title>
  </head>
  <body>
    <!-- component -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap"
      rel="stylesheet"
    />

    <div>
      {% for message in messages %}

      <div
        class="flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-md text-red-700 bg-red-100 border border-red-300"
      >
        <div slot="avatar">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="100%"
            height="100%"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-alert-octagon w-5 h-5 mx-2"
          >
            <polygon
              points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"
            ></polygon>
            <line x1="12" y1="8" x2="12" y2="12"></line>
            <line x1="12" y1="16" x2="12.01" y2="16"></line>
          </svg>
        </div>
        <div class="text-xl font-normal max-w-full flex-initial">
          {{ message }}
        </div>
        <div class="flex flex-auto flex-row-reverse">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="100%"
              height="100%"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-x cursor-pointer hover:text-red-400 rounded-full w-5 h-5 ml-2"
            >
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </div>
        </div>
      </div>

      {% endfor %} {% if error_message %}

      <div
        class="flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-md text-red-700 bg-red-100 border border-red-300"
      >
        <div slot="avatar">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="100%"
            height="100%"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-alert-octagon w-5 h-5 mx-2"
          >
            <polygon
              points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"
            ></polygon>
            <line x1="12" y1="8" x2="12" y2="12"></line>
            <line x1="12" y1="16" x2="12.01" y2="16"></line>
          </svg>
        </div>
        <div class="text-xl font-normal max-w-full flex-initial">
          {{ error_message }}
        </div>
        <div class="flex flex-auto flex-row-reverse">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="100%"
              height="100%"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-x cursor-pointer hover:text-red-400 rounded-full w-5 h-5 ml-2"
            >
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </div>
        </div>
      </div>

      {% endif %} {% if success_message %}

      <div
        class="flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-md text-red-700 bg-red-100 border border-red-300"
      >
        <div slot="avatar">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="100%"
            height="100%"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-alert-octagon w-5 h-5 mx-2"
          >
            <polygon
              points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"
            ></polygon>
            <line x1="12" y1="8" x2="12" y2="12"></line>
            <line x1="12" y1="16" x2="12.01" y2="16"></line>
          </svg>
        </div>
        <div class="text-xl font-normal max-w-full flex-initial">
          {{ success_message }}
        </div>
        <div class="flex flex-auto flex-row-reverse">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="100%"
              height="100%"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-x cursor-pointer hover:text-red-400 rounded-full w-5 h-5 ml-2"
            >
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </div>
        </div>
      </div>

      {% endif %}
    </div>
    <main class="bg-gray-100 font-montserrat">
      <header class="h-24 sm:h-32 flex items-center">
        <div
          class="container mx-auto px-6 sm:px-12 flex items-center justify-between"
        >
          <a
            href="/"
            class="font-black text-blue-900 text-2xl flex items-start"
          >
            Taskhub<span class="w-3 h-3 rounded-full bg-indigo-600 ml-2"></span>
          </a>
          <div class="flex items-center">
            <nav class="text-indigo-900 text-lg hidden lg:flex items-center">
              <a href="/" class="py-2 px-8 flex hover:text-indigo-700">
                Home
              </a>
              <a href="/dashboard" class="py-2 px-8 flex hover:text-indigo-700">
                Dashboard
              </a>
              <a href="/about" class="py-2 px-8 flex hover:text-indigo-700">
                About Us
              </a>

              <a href="/contact" class="py-2 px-8 flex hover:text-indigo-700">
                Contact Us
              </a>

              {% if user_data %} Hey!, {{user_data.username }}

              <form id="logoutForm" action="/logout" method="post">
                <button
                  class="py-2 px-8 bg-red-600 ml-2 text-white rounded-full flex hover:text-indigo-700"
                >
                  Logout
                </button>
              </form>

              {% endif %} {% if not user_data %}
              <a href="/login" class="py-2 px-8 flex hover:text-indigo-700">
                Login
              </a>
              <a href="/signup" class="py-2 px-8 flex hover:text-indigo-700">
                Sign Up
              </a>
              {% endif %}
            </nav>
            <!-- <button class="flex flex-col ml-4">
              <span class="w-6 h-1 rounded-full bg-indigo-800 mb-1"></span>
              <span class="w-6 h-1 rounded-full bg-indigo-800 mb-1"></span>
              <span class="w-6 h-1 rounded-full bg-indigo-800 mb-1"></span>
            </button> -->
          </div>
        </div>
      </header>

      Single project
      <h1>Project Details</h1>
      <p><strong>Title:</strong> {{ project.projectTitle }}</p>
      <p><strong>Description:</strong> {{ project.projectDescription }}</p>
      <h2>Project Tasks</h2>
      <ul>
        {% for task in project.projectTask %}
        <li>{{ task.taskName }} - Status: {{ task.taskStatus }}</li>
        {% endfor %}
      </ul>
    </main>
  </body>
</html>
